body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100vw;
    background-color: #f4f4f4;
}

#place-details {
    margin-bottom: 20px;
    width:96%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-wrap: break-word;
    text-align: center;
}

.flex-container .star-rating, button {
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

.flex-container .star-rating:hover, button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

input[type="range" i] {
    width:96%;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between elements as needed */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #ff9900;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
